

#header {
    background-color: #D9E1DD  ;
    color: black;
    font-style: comic sans;
}
h1 {font-family: "Comic Sans;"}

body {background:#333333; text-align: center; color:#838080; font:1em/1.6 "Courier New"; margin:0 0 0 0;}

h3 {font-family:"Courier New";}
pre,code {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

input[type=text] {
  width: 300px;
  height: 100px;
  border: 2px solid #999;
  border-radius: 10;
  -webkit-appearance: none;
  background-color: #D1DBD6;
   color: black;
}
