

body {background:#333333; text-align: center; color:#838080; font:1em/1.6 "Courier New"; margin:0 0 0 0;}

  <

h1, h3 {font-family:"Courier New";}
pre,code {font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif}

input[type=text] {
  width: 300px;
  height: 100px;
  border: 1px dotted #999;
  border-radius: 10;
  -webkit-appearance: none;
}
input.placeholder {
    text-align: center;
}
